<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bus_tracking">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ride_started"></activity>
        <activity android:name=".starting_details" />
        <activity android:name=".new_ride_details" />
        <activity android:name=".booking_history" />
        <activity android:name=".dashboard_driver" />
        <activity android:name=".cancel" />
        <activity android:name=".booked" />
        <activity android:name=".booking_details" />
        <activity android:name=".booking" />
        <activity android:name=".signup" />
        <activity android:name=".track" />
        <activity android:name=".ticket_number" />
        <activity android:name=".dashboard" />
        <activity android:name=".login" />
        <activity android:name=".type_selection" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>